img {
  display: block;
  margin: 20px auto;
}

nav {
			display: flex;
			justify-content: center;
			align-items: center;
			background-color: #FFFFFF;
			padding: 20px;
		}

		nav a {
			margin: 0 10px;
			text-decoration: none;
			color: #333;
			font-size: 18px;
			font-weight: bold;
			text-transform: uppercase;
		}

		nav a:hover {
			color: #666;
		}
/* change the font family and font size of the body text */
body {
  font-family: Lato, sans-serif;
  font-size: 16px;
}

/* change the background color of the page */
body {
  background-color: #f2f2f2;
}

/* style the header */
header {
  background-color: #333;
  color: #FFFFFF;
  padding: 20px;
  text-align: center;
}


/* style the main content area */
main {
  background-color: #fff;
  padding: 20px;
  margin: 20px;
}

/* style the footer */
footer {
  background-color: #333;
  color: #fffff;
  padding: 10px;
  text-align: center;
}

